<server description="Sample Liberty server">

  <featureManager>
    <feature>restfulWS-3.0</feature>
    <feature>jsonb-2.0</feature>
    <feature>jsonp-2.0</feature>
    <feature>cdi-3.0</feature>
    <feature>persistence-3.0</feature>
    <feature>mpOpenAPI-3.0</feature>
  </featureManager>

  <variable name="default.http.port" defaultValue="9080" />
  <variable name="default.https.port" defaultValue="9081" />

  <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
                id="defaultHttpEndpoint" host="localhost" />

  <application location="backendServices.war" type="war" context-root="/"></application>

  <!--   Datasource Configuration-->
  <!--   tag::data-source[]-->

  <!-- ######################## Derby Library Configuration ######################## -->
  <library id="derbyJDBCLib">
    <fileset dir="${shared.resource.dir}/" includes="derby*.jar" />
  </library>

  <dataSource id="derbydatasource" jndiName="jdbc/derbydatasource">
    <jdbcDriver libraryRef="derbyJDBCLib" />
    <properties.derby.embedded databaseName="EventDB" createDatabase="create" />
  </dataSource>
  <!-- ############################################################################### -->

  <!-- ######################## PostgreSQL Library Configuration ######################## -->
  <library id="postgresqlJDBCLib">
    <fileset dir="${shared.resource.dir}/" includes="postgresql*.jar" />
  </library>

  <dataSource id="postgresqldatasource" jndiName="jdbc/postgresqldatasource">
  <jdbcDriver libraryRef="postgresqlJDBCLib"/>
  <properties.postgresql serverName="localhost"
                         portNumber="5432"
                         databaseName="urba"
                         user="postgres"
                         password="postgres"/>
  </dataSource>
  <!-- ############################################################################### -->
  <!-- end::data-source[] -->
</server>
